* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* used to make the scrollbar transparent */
    overflow: overlay;
}

/* scrollbar styling */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(248,213,127,255);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* navbar styling */
nav {
    position: fixed;
    width: 100%;
    height: 20px;
    z-index: 1;
    float: left;
    background-color: rgba(248,213,127,255);
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    padding-left: 11px;
}

nav ul li:hover ul {
    display:block;
}

nav ul li a {
    display: block;
    font-family: arial;
    color: rgba(74,52,125,255);
    font-size: 12px;
    padding: 3px 68px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgba(74,52,125,255);
    color: rgba(249,187,104,255);
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgba(74,52,125,255);
    padding: 5px;
    border-radius: 10px;
}

nav ul li ul li a {
    padding: 12px 68px;
    font-size: 10px;
    color: rgba(249,187,104,255);
}

nav ul li ul li a:hover {
    background-color: rgba(85,52,125,255);
}

/* home page welcome text styling */

div.welcome-text {
    position: absolute;
    color: rgba(249,187,104,255);
    font-weight: bold;
    margin-top: 10%;
    margin-left: 35%;
}


div.login {
    position: absolute;
    background-color: rgba(85,52,125,255);
    opacity: 0.9;
    width: 25%;
    height: 60%;
    font-weight: bold;
    margin-top:10%;
    margin-left: 60%;
    border-radius: 15px;
}

a.register-header{
    color: rgba(249,187,104,255);
    font-weight: bold;
    position: absolute;
    margin-left: 35%;
    margin-top : 10%;
}

a.login-header{
    color: rgba(249,187,104,255);
    font-weight: bold;
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}

div.register {
    position: absolute;
    background-color: rgba(85,52,125,255);
    opacity: 0.9;
    width: 25%;
    height: 60%;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 15%;
    border-radius: 15px;
}


input::placeholder {
    color: rgba(249,187,104,255);
    font-weight: bold;
}

input.first-input {
    padding-left: 10px;
    margin-left: 10%;
    margin-top: 35%;
    height: 7.5%;
    width: 80%;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    color: rgba(249,187,104,255);
    border-color: rgba(249,187,104,255);
}

input.input {
    padding-left: 10px;
    margin-left: 10%;
    margin-top: 10%;
    height: 7.5%;
    width: 80%;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    border-color: rgba(249,187,104,255);
    color: rgba(249,187,104,255);
}

button.home-button-register {
    margin-left: 30%;
    margin-top: 10%;
    width: 35%;
    padding: 5px;
    background-color: transparent;
    border-color: rgba(249,187,104,255);
    color: rgba(249,187,104,255);
    border-radius: 15px;
}

button.home-button-login {
    margin-left: 35%;
    margin-top: 10%;
    width: 35%;
    padding: 5px;
    background-color: transparent;
    border-color: rgba(249,187,104,255);
    color: rgba(249,187,104,255);
    border-radius: 15px;
}

p.error-or-success-message { 
    margin-left: 25%;
    margin-top: 5%;
}

/* article styling */
div.article {
    position: absolute;
    margin-top: 100px;
    margin-left: 10%;
    width: 80%;
}

/* news page styling */
div.article div {
    margin-bottom: 10%;
    background-color: rgba(85,52,125,255);
    opacity: 0.9;
    height: 50%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 10%;
    border-radius: 25px;
    color: rgba(66,201,241,255);
}

div.article div p.news-paragraph {
    margin-top: 5%;
    font-weight: lighter;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

div.article div p.news-title {
    font-weight: bold;
    color: rgba(249,187,104,255);
    margin-top:1%;
    padding-left: 30%;
}

div.article div p a {
    font-weight: bold;
    color: rgba(249,187,104,255);
    text-decoration: none;
    margin-top: 100%;
    padding-left: 35%;
}

/* about us page styling */
div.article div p.about-us-title {
    font-weight: bold;
    color: rgba(249,187,104,255);
    margin-top:1%;
    padding-left: 45%;
}

div.article div p.about-us-second-title {
    font-weight: lighter;
    color: rgba(249,187,104,255);
    margin-top: 3%;
    padding-left: 3%;
}

div.article div p.about-us-paragraph {
    margin-top: 2%;
    font-weight: lighter;
    padding-left: 3%;
    padding-right: 3%;
}

/* contact us page styling */
div.article div p.contact-us-title {
    font-weight: bold;
    color: rgba(249,187,104,255);
    margin-top:1%;
    padding-left: 45%;
}

img.contact-us-image {
    float: left;
    margin-top: -0.5%;
    margin-right: 1%;
    width: 25px;
    height: 25px;
}

div.article div p.contact-us-paragraph {
    margin-top: 5%;
    font-weight: lighter;
    margin-left: 3%;
    padding-left: 3%;
    color: rgba(249,187,104,255);
    padding-right: 3%;
}

div.article div form textarea.contact-us-input {
    margin-top: 3%;
    width: 80%;
    resize: none;
    outline: none;
    margin-left: 6%;
    padding-left: 3%;
    color: rgba(249,187,104,255);
    padding-right: 3%;
}

div.article div form button.contact-us-button {
    display: block;
    margin-top: 4%;
    margin-left: 42%;
    color: rgba(249,187,104,255);
    background-color: transparent;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid rgba(249,187,104,255);
    border-radius: 15px;
}

div.article div form button.contact-us-button:hover {
    background-color: rgba(70,52,125,255);
}

div.article div form label.contact-us-sender-label {
    margin-left: 6%;
    padding-bottom: 2px;
    color: rgba(249,187,104,255);
}

div.article div form textarea.contact-us-sender-input {
    margin-top: 4%;
    width: 66.5%;
    resize: none;
    outline: none;
    color: rgba(249,187,104,255);
    padding-right: 3%;
}
/* slide styling */

.slidershow {
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: 8%;
    left: 17.5%;
}

.slide-navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 5px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 600%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r11:checked ~ .show {
    margin-left: 0;
}

#r12:checked ~ .show {
    margin-left: -20%;
}

#r13:checked ~ .show {
    margin-left: -40%;
}

#r14:checked ~ .show {
    margin-left: -60%;
}

#r15:checked ~ .show {
    margin-left: -80%;
}

#r16:checked ~ .show {
    margin-left: -100%;
}

#r21:checked ~ .show {
    margin-left: 0;
}

#r22:checked ~ .show {
    margin-left: -20%;
}

#r23:checked ~ .show {
    margin-left: -40%;
}

#r24:checked ~ .show {
    margin-left: -60%;
}

#r25:checked ~ .show {
    margin-left: -80%;
}

#r26:checked ~ .show {
    margin-left: -100%;
}

#r27:checked ~ .show {
    margin-left: -120%;
}

#r31:checked ~ .show {
    margin-left: 0;
}

#r32:checked ~ .show {
    margin-left: -20%;
}

#r33:checked ~ .show {
    margin-left: -40%;
}

/* buy and rent pages styling */

div.buy-or-rent-article {
    position: relative;
    width: 600px;
    height: 600px;
    margin-top: 5%;
    margin-left: 22%;
    background-color: rgba(85,52,125,255);
    opacity: 0.9;
    border-radius: 25px;
    color: rgba(66,201,241,255);
}

p.buy-or-rent-title {
    font-weight: bold;
    color: rgba(249,187,104,255);
    padding-top: 1.5%;
    padding-left: 25%;
}

div.buy-or-rent-details{
    margin-top: 40%;
}

p.buy-or-rent-details {
    color: rgba(249,187,104,255);
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
}

p.buy-or-rent-price {
    font-weight: bold;
    color: rgba(249,187,104,255);
    margin-top:5%;
    padding-left: 37%;
}

div.buy-residential-tag {
    padding-top: 5%;
    margin-left: 37%;
    color: rgba(249,187,104,255);
    font: bold;
}

div.buy-comercial-tag {
    padding-top: 5%;
    margin-left: 40%;
    color: rgba(249,187,104,255);
    font: bold;
}

div.rent-residential-tag {
    padding-top: 5%;
    margin-left: 36%;
    color: rgba(249,187,104,255);
    font: bold;
}

div.rent-comercial-tag {
    padding-top: 5%;
    margin-left: 40%;
    color: rgba(249,187,104,255);
    font: bold;
}

/* book styling page */

div.book-article {
    position: relative;
    width: 600px;
    height: 600px;
    margin-top: 5%;
    margin-left: 25%;
    background-color: rgba(85,52,125,255);
    opacity: 0.9;
    border-radius: 25px;
    color: rgba(66,201,241,255);
}

p.book-article-title {
    font-weight: bold;
    color: rgba(249,187,104,255);
    padding-top: 1.5%;
    padding-left: 27.5%;
}

div.book-title {
    padding-top: 5%;
    margin-left: 37%;
    color: rgba(249,187,104,255);
    font: bold;
}

table.book-table{
    font-size: 0.9em;
    min-width: 600px;
    margin-top: 10%;
}

table.book-table thead th {
    font-weight: bold;
}

table.book-table th,
table.book-table td {
    padding: 25px 15px;
    text-align: center;
}

a.book-now-href {
    color: rgba(249,187,104,255);
}

/* book property styling */
input.input-book {
    display: block;
    padding-left: 10px;
    margin-left: 20%;
    margin-top: 7.5%;
    height: 7.5%;
    width: 70%;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    border-color: rgba(249,187,104,255);
    color: rgba(249,187,104,255);
}

label.label {
    position: absolute;
    padding-top: 10%;
    padding-left: 3.5%;
}

button.book-property-button {
    margin-left: 35%;
    margin-top: 10%;
    width: 35%;
    padding: 5px;
    background-color: transparent;
    border-color: rgba(249,187,104,255);
    color: rgba(249,187,104,255);
    border-radius: 15px;
}

p.error-message {
    font-weight: bold;
    color: red;
    padding-top: 1.5%;
    padding-left: 27.5%;
}

/* Admin menu page */

p.admin-page-title {
    font-weight: bold;
    color: rgba(249,187,104,255);
    padding-top: 1.5%;
    padding-left: 41.5%;
}

p.admin-error-message {
    font-weight: bold;
    color: red;
    margin-left: 20%;
    padding-top: 1.5%;
}

button.admin-page-button {
    margin-left: 32.5%;
    margin-top: 25%;
    width: 35%;
    padding: 5px;
    background-color: transparent;
    border-color: rgba(249,187,104,255);
    color: rgba(249,187,104,255);
    border-radius: 15px;
}

/* Admin see views page */

p.admin-article-title {
    font-weight: bold;
    color: rgba(249,187,104,255);
    padding-top: 1.5%;
    padding-left: 20%;
}

/* Admin see views for a property page */
input.input-views {
    display: block;
    padding-left: 10px;
    margin-left: 20%;
    margin-top: 5%;
    height: 7.5%;
    width: 70%;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    border-color: rgba(249,187,104,255);
    color: rgba(249,187,104,255);
}

label.label-views {
    position: absolute;
    padding-top: 7.5%;
    padding-left: 3.5%;
}

button.property-views-button {
    margin-left: 35%;
    margin-top: 5%;
    width: 35%;
    padding: 5px;
    background-color: transparent;
    border-color: rgba(249,187,104,255);
    color: rgba(249,187,104,255);
    border-radius: 15px;
}


p.views-error-message {
    font-weight: bold;
    color: red;
    padding-top: 1.5%;
    padding-left: 38%;
}

p.admin-views-title {
    font-weight: bold;
    color: rgba(249,187,104,255);
    padding-top: 1.5%;
    padding-left: 27%;
}

div.paragraph-date {
    width: 50%;
    height: 60%;
}

div.paragraph-hour {
    float: right;
    width: 50%;
    height: 60%;
}

p.admin-views-hour {
    display: block;
    margin-left: 40%;
    margin-top : 20%;
    color: rgba(249,187,104,255);

}

p.admin-views-date { 
    display: block;
    margin-left: 45%;
    margin-top : 20%;
    color: rgba(249,187,104,255);

}

